@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  background-color: #F2F2F2;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

input {
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 90%;
  max-width: 400px;
  min-height: 500px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 25px 3px #607D8B;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  padding: 7px 15px;
}

.taskContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  padding: 15px 0;
}

.taskText {
  border: none;
  color: #212121;
  flex: 1;
  padding: 0 15px;
  font-size:20px;
}

.taskText:focus {
  outline: none;
}

.remove {
  visibility: hidden;
  display: flex;
  align-items: center;
}

.taskContainer:hover .remove {
  visibility: visible;
}

.circle {
  opacity: 0.2;
  display: flex;
  align-items: center;
}

.taskContainer:hover .circle {
  opacity: 1;
}

.circle:hover, .remove:hover, .topButton:hover {
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

svg {
  stroke: #697D8B;
  stroke-width: 3;
  transition: stroke 0.5s;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg:hover {
  stroke: #324148;
}

#check {
  stroke: #009688;
  stroke-width: 3;
}

.circle #check {
  visibility: hidden;
}

.complete #check {
  visibility: visible;
}

/* React transitions */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
