@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  background-color: #F2F2F2;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

input {
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 90%;
  max-width: 400px;
  min-height: 500px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 25px 3px #607D8B;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  padding: 7px 15px;
}

.taskContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  padding: 15px 0;
}

.taskText {
  border: none;
  color: #212121;
  flex: 1;
  padding: 0 15px;
  font-size:20px;
}

.taskText:focus {
  outline: none;
}

.remove {
  visibility: hidden;
  display: flex;
  align-items: center;
}

.taskContainer:hover .remove {
  visibility: visible;
}

.circle {
  opacity: 0.2;
  display: flex;
  align-items: center;
}

.taskContainer:hover .circle {
  opacity: 1;
}

.circle:hover, .remove:hover, .topButton:hover {
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

svg {
  stroke: #697D8B;
  stroke-width: 3;
  transition: stroke 0.5s;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg:hover {
  stroke: #324148;
}

#check {
  stroke: #FFFFFF;
  stroke-width: 5;
}

/*.circle #check {
  visibility: hidden;
}

.complete #check {
  visibility: visible;
}*/

.complete circle {
  fill: #697D8B;
}

.incomplete circle {
  stroke: #697D8B;
  fill: none;
  stroke-width: 2;
}

.incomplete .circle:hover circle {
  stroke: #009688;
  fill: #009688;
}

.incomplete .circle {
  transition: transform 0.3s;
  transform: scale(0.8);
}

.incomplete .circle:hover {
  transform: scale(1.3);
}

/* React transitions */

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity .2s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in .3s;
}

.cross-fade-height {
  transition: height .3s ease-in-out;
}
